@use '../../utils/' as *
@import '../../utils/_variables'

.mainbar
    display: flex,
    flex-direction: row,
    align-items: center,
    justify-content: space-around,
    height: 8vh,
    position: fixed,
    top: 0,
    width: 100vw

.logo
    width: 20%
    background-color: $primary-color,
    text-align: center,
    color: white,
    height: 50%,
    border-radius: 10px,
    font-size: 2rem,
    font-weight: bold,
    border: $boder-default,
    font-family: Roboto, "Helvetica"

.items-list
    list-style: none,
    display: flex,
    flex-direction: row,
    justify-content: space-around
    padding: 0
    text-decoration: none

    li
        padding: 3px,
        margin: 1rem,
        cursor: pointer,
        text-decoration: none

.dropdown
    position: relative
    display: inline-block

    .dropdown-content
        display: none
        position: absolute
        background-color: #f9f9f9
        min-width: 160px
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
        padding: 12px 16px
        z-index: 1

        .dropdown:hover &
            display: block
.img
    margin-left: 12px
    display: float
    width: 11px
    height: 12px
